@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* =============================== VAR =============================== */

body {
    --color_font: #0065fc;

    --color_filter_hover: #deebff;

    --color_bg: #F2F2F2;

    --color_fff: #ffffff;

    --color_empty_stars: rgba(180, 173, 173, 0.173);

    --cards_shadow: rgba(12, 10, 10, 0.067);

    --bold: 700;
}


/* =============================== General =============================== */

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1440px; /* figma */
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 1.4rem;
    font-weight: var(--bold);
}

h2 {
    font-size: clamp(1.3rem, 2vw, 1.4rem);
    font-weight: var(--bold);
}

a {
    text-decoration: none;
    color: inherit;
}

/* =============================== Header =============================== */

header {
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
    height: 19px;
}

.header_nav_link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link {
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid transparent; /*prevents movement during the hover effect*/
}

.link:hover {
    border-top: 2px solid var(--color_font);
    color: var(--color_font);
    font-weight: 500;
}



/* =============================== Main =============================== */

main {
    margin: 0 3rem;
}


/* =============================== Up Section =============================== */

.up_section {
    display: flex;
    flex-direction: column;
}

.up_section_title>h1 {
    padding-bottom: 0.5rem;
}

.up_section_title>p {
    margin-bottom: 1.3rem;
}

.search_bar {
    width: 418px; /* 50px + 236px + 132px  --> geoloc_icon + search_bar>input + search_bar .form_button[type="submit"]    */
    height: 49px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 15px;
    overflow: hidden;
}

.geoloc_icon {
    width: 50px;
    height: 18px;
    padding: 15.5px 0;
    background-color: var(--color_bg);
    cursor: pointer;
    shape-rendering: geometricPrecision;
}

.search_bar>input {
    width: 236px;
    height: 100%;
    padding: 0 0.5rem;
    border: none;
    border-top: 1px solid var(--color_bg);
    border-bottom: 1px solid var(--color_bg);
    font-size: 1.1rem;
    font-weight: bold;
}

.search_bar ::placeholder {
    font-size: 0.9rem;
    font-weight: 400;
}

.search_bar input:focus {
    outline: none; /*remove black border when typing*/
}

.search_bar .form_button[type="submit"] {
    width: 132px;
    height: 100%;
    color: var(--color_fff);
    font-size: 1.1rem;
    font-weight: var(--bold);
    background: var(--color_font);
    border: none;
    cursor: pointer;
}


.up_section_filter {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    font-weight: var(--bold);
}

.filter_button {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: var(--color_fff);
    font-size: 1rem;
    font-weight: var(--bold);
    cursor: pointer;
}

.filter_button:hover {
    background-color: var(--color_filter_hover);
}

.filter_button :nth-child(1) { /* icons filter */
    padding-right: 0.6rem;
    font-size: 1.3rem;
    color: var(--color_font);
    font-weight: var(--bold);
    shape-rendering: geometricPrecision;
}

.infos {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}

.infos :nth-child(1) {
    width: 0.7rem;
    height: 0.7rem;
    padding: 0.3rem;
    margin: 0 0.5rem 0 0;
    color: var(--color_font);
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    shape-rendering: geometricPrecision;
}


/* =============================== Middle Section =============================== */

.middle_section {
    min-height: 626px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 3.8rem;
    gap: 0 2rem;
}


/* =============================== Accommodations Section =============================== */

.accommodations_section {
    width: 880px;
    min-height: 626px;
    padding: 2rem;
    background: var(--color_bg);
    border-radius: 20px;
}

.accommodations_section>h2 {
    margin: 0 0 1.5rem 0;
    font-weight: var(--bold);
}

.show_more_accommodations {
    display: flex;
    margin: 2.5rem 0 0 0rem;
    font-size: 1.12rem;
    font-weight: var(--bold);
}

.accommodations_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem 2%;/* vertical / horizontal */
}

.accommodation_card {
    width: clamp(160px, 32%, 246px); /* min val max */
    height: 199px;
    border-radius: 20px;
    box-shadow: 5px 8px 7px var(--cards_shadow);
    overflow: hidden;
    background: var(--color_fff);
}

.img_accommodation_container {
    width: 100%;
    height: 124px;
    padding: 0.3rem;
}

.img_accommodation {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.text_accommodation_container {
    height: 75px;
    display: flex;
    flex-direction: column;
    padding-left: clamp( 0.5rem, 1vw, 1rem);
}

.text_accommodation_title {
    padding-top: 0.2rem;
    font-size: clamp(0.85rem, 1.2vw, 1rem);;
    font-weight: 700;
}

.text_accommodation_container>p {
    font-size: clamp(0.75rem, 1.2vw, 0.9rem);
}

.text_accommodation_container>p {
    padding-top: 0.3rem;
}

.text_accommodation_container p:after {
    content: "\20AC"; /* € */
    font-weight: 600;
}

.text_accommodation_container>span {
    padding-top: 0.6rem;
}


/* =============================== Most Popular Aside =============================== */

.most_popular_aside {
    width: 420px;
    background: var(--color_bg);
    border-radius: 20px;
    padding: 2rem;
}

.most_popular_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;
    font-weight: var(--bold);
}

.most_popular_title :first-child { /*trend logo*/
    color: var(--color_font);
    font-size: 1.2rem;
    shape-rendering: geometricPrecision;
}

.most_popular_cards_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.most_popular_card {
    display: flex;
    width: 100%;
    height: 144px;
    border-radius: 20px;
    box-shadow: 5px 5px 9px var(--cards_shadow); /* distance horizontale  distance verticale  diffusion de l'ombre + > +diffuse */
    background: var(--color_fff);
}

.img_most_popular {
    width: 40%;
    padding: 0.3rem 0 0.3rem 0.3rem;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.text_most_popular_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 0.7rem;
}

.text_most_popular_title-price>h3 {
    padding-bottom: 0.5rem;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    font-weight: 700;
}

.text_most_popular_title-price>p {
    font-size: clamp(0.75rem, 1.2vw, 0.9rem)
}

.text_most_popular_container p:after {
    font-weight: 600;
    content: "\20AC";/* € */
}


/* =============================== City Activities =============================== */

.down_section {
    display: flex;
    flex-direction: column;
    margin: 0 0 3.8rem;
}

.city_activities_title {
    margin: 0 0 1.5rem 0;
}

.city_activities_cards_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.city_activity_card {
    width: 22.6%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 9px var(--cards_shadow);
    overflow: hidden;
    background: var(--color_fff);
}

.img_city_activity {
    width: 100%;
    height: 389px;
    object-fit: cover;
}

.text_city_activity {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    font-weight: var(--bold);
}



/* =============================== Footer =============================== */

footer {
    margin: 0 3rem;
}

.footer_container {
    width: 100%;
    height: 225px;
    display: flex;
    gap: 6rem 15%;
    padding-top: 2.8rem;
    background-color: var(--color_bg);
}

.first_footer_column,
.footer_columns {
    width: 200px;
    list-style-type: none;
}

.first_footer_column {
    margin: 0 0 0 4rem;
}

ul li:first-of-type {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: var(--bold);
}

ul>li {
    padding: 0.5rem 0;
}


/* =============================== Cards Raitings =============================== */

.rating_1,
.rating_2,
.rating_3,
.rating_4,
.rating_5 {
    color: var(--color_font);
    font-size: clamp(0.65rem, 1vw, 0.75rem);
    shape-rendering: geometricPrecision;
}

.rating_1 :nth-child(n+2) {
    color: var(--color_empty_stars);
}

.rating_2 :nth-child(n+3) {
    color: var(--color_empty_stars);
}

.rating_3 :nth-child(n+4) {
    color: var(--color_empty_stars);
}

.rating_4 :nth-child(n+5) {
    color: var(--color_empty_stars);
}

.rating_5 :nth-child(n+6) {
    color: var(--color_empty_stars);
}


/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* =============================== Media Queries =============================== */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */



/* ============================================================================= */
/* ================================== MQ Desktop =============================== */
/* ============================================================================= */

@media only screen and (min-width: 992px) {

    .search_bar .mobile_form_button[type="submit"] {
        display: none;
    }

}


/* ============================================================================= */
/* ================================== MQ Tablet ================================ */
/* ============================================================================= */

@media only screen and (min-width: 768px) and (max-width : 991px) {


    /* =============================== MQ Tab Up Section =============================== */

    .search_bar .mobile_form_button[type="submit"] {
        display: none;
    }

    .filter_button {
        padding: 0 1rem;
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    }

    .filter_button :nth-child(1) { /* icons filter */
        padding-right: 0.6rem;
        font-size: 1.2rem;
    }


    /* =============================== MQ Tab Middle Section =============================== */

    .middle_section {
        flex-wrap: wrap;
    }


    /* =============================== MQ Tab Accommodations Section =============================== */

    .accommodations_section {
        width: 100%;
        margin: 0 0 3.5rem;
        padding: 2.5rem 2.5rem 0;
    }


    /* =============================== MQ Tab Most Popular Aside =============================== */

    .most_popular_aside {
        width: 100%;
        height: 278px;
        padding: 2.5rem 2rem;
    }

    .most_popular_cards_container {
        flex-direction: row;
    }

    .img_most_popular {
        width: 41%;
    }

    .text_most_popular_container {
        width: 59%;
    }

    .text_most_popular_container {
        padding: 1rem 0.8rem 0.7rem 0.8rem;
    }

    .text_most_popular_title-price>h3 {
        font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    }

    .text_most_popular_title-price>p {
        font-size: 0.8rem;
    }


    /* =============================== MQ Tab City Activities =============================== */

    .city_activity_card {
        width: 22%;
        height: 267px;
    }

    .img_city_activity_container { /* remove the overflow pixel in the bottom right and left radius */
        width: 100%;
        height: 211px; /* 267px - 56px --> city_activity_card - text_city_activity */
        overflow: hidden;
    }

    .img_city_activity {
        height: 211px;
    }

    .city_activity_card:nth-of-type(1) .img_city_activity,
    .city_activity_card:nth-of-type(3) .img_city_activity,
    .city_activity_card:nth-of-type(4) .img_city_activity {
        object-fit: cover;
        transform-origin: top center;
        transform: scale(1.25);
        filter: saturate(120%);
        filter: blur(0.2px);
    }

    .city_activity_card:nth-of-type(2) .img_city_activity {
        object-position: 0% 10%;
        filter: brightness(110%);
        filter: contrast(100%);
    }

    .city_activity_card:nth-of-type(3) .img_city_activity {
        filter: brightness(125%);
    }

    /* =============================== MQ Tab Footer =============================== */

    .footer_container {
        gap: 6rem 4%;
    }

    .first_footer_column,
    .footer_columns {
        width: 250px;
    }

    ul>li {
        padding: 0.4rem 0;
    }

}



/* ===================================================================================== */
/* ================================== MQ Mobile Phone ================================== */
/* ===================================================================================== */


@media only screen and (max-width : 767px) {


    /* =============================== MQ Mobile Header =============================== */

    header {
        height: 130px;
        flex-direction: column;
        margin: 0 0 2rem;
    }

    .logo_container {
        padding: 1.2rem 0 0 0;
    }

    .header_nav_link {
        width: 100%;
    }

    .link {
        width: 100%;
        border-bottom: 3px solid var(--color_bg);
        border-top: none;
    }

    .link:hover {
        border-top: none;
        border-bottom: 3px solid var(--color_font);
    }


    /* =============================== MQ Mobile Main =============================== */

    main {
        margin: 0;
    }


    /* =============================== MQ Mobile Up Section =============================== */

    .up_section {
        margin: 0 1.2rem;
    }

    .search_bar .form_button[type="submit"] {
        display: none;
    }

    .search_bar {
        width: 335px; /* 286px + 49px   --> geoloc_icon + search_bar>input + search_bar .mobile_form_button[type="submit"] */
    }

    .search_bar .mobile_form_button[type="submit"] {
        width: 49px;
        height: 100%;
        color: var(--color_fff);
        font-size: 1.1rem;
        font-weight: var(--bold);
        background: var(--color_font);
        border: none;
        cursor: pointer;
        shape-rendering: geometricPrecision;
    }

    .up_section_filter {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem 0;
    }

    .up_section_filter :nth-child(1) {
        width: 100%;
    }

    .filter_button {
        width: 47%;
        justify-content: flex-start;
        padding: 0;
        font-size: 0.7rem;
    }

    .filter_button :nth-child(1) { /* icons filter */
        width: 20px;
        padding: 0 0.4rem 0 1.2rem;
    }


    /* =============================== MQ Mobile Middle Section =============================== */

    .middle_section {
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: 0;
        padding: 0;
    }


    /* =============================== MQ Mobile Most Popular Aside =============================== */

    .most_popular_aside {
        width: 100%;
        padding: 1.2rem 1.2rem 3rem;
        border-radius: 0;
    }

    .most_popular_cards_container {
        gap: 1rem 2%;
    }


    /* =============================== MQ Mobile Accommodations Section =============================== */

    .accommodations_section {
        width: 100%;
        height: auto;
        background: var(--color_fff);
        border-radius: 0;
        margin: 2rem 1.2rem 7rem;
        padding: 0;
    }

    .accommodations_cards_container {
        gap: 1rem 2%;
    }

    .accommodation_card {
        width: 100%;
    }

    .show_more_accommodations {
        display: none;
    }


    /* =============================== MQ Mobile City Activities =============================== */

    .down_section {
        margin: 0 1.2rem 5rem;
    }

    .city_activities_cards_container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem 2%;
    }

    .city_activity_card {
        width: 100%;
        height: 190px;
    }

    .img_city_activity {
        height: 143px; /* 190px - 47px  -->  city_activity_card - text_city_activity  */
        object-position: 0% 20%;
    }

    .city_activity_card:nth-of-type(2) .img_city_activity {
        object-position: 20% 40%;
    }

    .text_city_activity {
        height: 47px;
    }


    /* =============================== MQ Mobile Footer =============================== */

    footer {
        margin: 0;
    }

    .footer_container {
        height: auto;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2.8rem 2.5rem 5rem;
    }

    .first_footer_column,
    .footer_columns {
        width: 100%;
    }

    .first_footer_column {
        margin: 0;
    }

    ul>li {
        padding: 0.3rem 0;
    }

}


/* ===================================================================================== */
/* ================================== Under Screen Size ================================== */
/* ===================================================================================== */

@media screen and (max-width : 374px) {

    * {
        height: 100%;
        background: url(img/logo/Booki.png) no-repeat center;
    }

    body {
        display: none;
    }
}
